body {
    font-family: "Mona Sans";
    text-transform: none;
    font-weight: 400;
    font-style: normal;
}

h1,
.elementor-widget-heading h1.elementor-heading-title {
    font-family: "Mona Sans";
    text-transform: none;
    font-weight: 700;
    font-style: normal;
}

h2,
.elementor-widget-heading h2.elementor-heading-title {
    font-family: "Mona Sans";
    text-transform: none;
    font-weight: 700;
    font-style: normal;
}

h3,
.elementor-widget-heading h3.elementor-heading-title {
    font-family: "Mona Sans";
    font-weight: 500;
    font-style: normal;
}

h4,
.elementor-widget-heading h4.elementor-heading-title {
    font-family: "Mona Sans";
    font-weight: 500;
    font-style: normal;
}

h5,
.elementor-widget-heading h5.elementor-heading-title {
    font-family: "Mona Sans";
    font-weight: 500;
    font-style: normal;
}

h6,
.elementor-widget-heading h6.elementor-heading-title {
    font-family: "Mona Sans";
    font-weight: 700;
    font-style: normal;
}

.main-navigation .sf-menu li a {
    line-height: 14px;
    font-size: 14px;
}

.main-navigation .sf-menu li li a {
    line-height: 14px;
    font-size: 14px;
}

.dtr-header-btn {
    line-height: 20px;
    font-size: 14px;
}

.dtr-breadcrumb-wrapper {
    margin-top: 20px;
}

.dtr-page-title {
    text-transform: uppercase;
}

#dtr-footer-section {
    border-top: 1px solid #111111;
}

.dtr-footer-section-wrap h6 {
    font-family: "Mona Sans";
    text-transform: uppercase;
    line-height: 14px;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
}

.dtr-archive-post-title,
.dtr-archive-post-title a {
    font-family: "Mona Sans";
    text-transform: none;
    line-height: 36px;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
}

.dtr-entry-meta,
.wp-block-latest-posts__post-author,
.wp-block-latest-posts__post-date {
    line-height: 30px;
}

.dtr-entry-meta .dtr-meta-category a {
    text-transform: uppercase;
    line-height: 14px;
}

.dtr-single-post-title.dtr-page-title {
    text-transform: uppercase;
    line-height: 80px;
    font-size: 70px;
}

.dtr-single-meta {
    line-height: 30px;
}

.dtr-single-meta .dtr-meta-category a {
    text-transform: uppercase;
    line-height: 14px;
}